<button (click)="connectAccount()"
        *ngIf="!user.token && !user.isLoading">
  Connect with Github
</button>

<span *ngIf="user.isLoading"> Connecting...</span>

<div *ngIf="user.token">
  You are connected via GitHub as
    <a class="light-a"
       [attr.href]="'https://github.com/' + user.userName"
       target="_blank">
      {{user.userName}}
    </a>.
  If you are not {{user.userName}},
  <a class="light-a"
     (click)="reset()">
    click here
  </a>.
</div>
<p *ngIf="user.error">
  Something went wrong while trying to authenticate you. Please try again.
</p>
