@import
  '../../../vars',
  '../../../styles',
  '../../../typography';

.gv-header {
  background: $gv-violet;
  color: $gv-white;
}

.gv-header-banner {
  @extend .container;

  align-items: flex-start;
  display: flex;
  flex-direction: column;

  h1, h2 {
    margin: 0;
    padding: 0 1rem 0 0;
  }

  @include respond-to('large') {
    align-items: flex-end;
    flex-direction: row;
  }
}

.gv-header-actions {
  @extend .container;
  @extend .small;

  color: $gv-violet-light;

  a {
    @extend .light-a;
  }
}