/* color scheme */
$gv-violet: rgba(136, 73, 143, 1);
$gv-blue: rgba(119, 159, 161, 1);
$gv-yellow: rgba(224, 203, 168, 1);
$gv-red: rgba(255, 101, 66, 1);
$gv-dark-violet: rgba(86, 65, 84, 1);

$gv-black: #111;
$gv-dark-gray: #333;
$gv-medium-gray: #888;
$gv-light-gray: #bbb;
$gv-pale-gray: #ddd;
$gv-white: #fff;
